/* Formulario */
.registro {
    background-image: url(../../../Assets/img/jpg/Verbena1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    height: auto;
    margin: 5% auto;

    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}

.imagen{
    width: 30%;
    top:44%;
    left: 35.5%;
    position: absolute;
}


.titulo {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    color: white;
}

.titulo h2 {
    font-size: 2.5em;
    font-family: var(--estiloT);
}

.titulo h3 {
    font-size: 1.5em;
    font-family: var(--estilot);
    font-weight: normal;
}

#form {
    width: 60%;
    height: 100%;
    background-color: #267150;
    margin-left: 40%;
    padding: 2%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

}

.form {
    width: 80%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: white;

}

.form label {
    font-family: var(--estilot);
    margin-bottom: 2%;
}

.form input {
    position: relative;
    width: 150%;
    height: 35px;
    border-radius: 10px;
    padding: .2rem;
    padding-left: 50px;

    text-decoration: none;
    border-style: none;
}

.input-icon {
    position: absolute;
    display: block;
    width: 8%;
    height: auto;
    top: 24%;
    left: 1%;
    z-index: 6;
}

.input-icon2 {
    position: absolute;
    display: block;
    width: 8%;
    height: auto;
    top: 77%;
    left: 1%;
    z-index: 6;
}

.confirm {
    width: 100%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 3;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;

    color: white;
}


.confirm img {
    max-width: 100%;
}






.confirm .check {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;


}

.check input {
    border-style: none;
}

.check label a {
    color: white;
    font-family: var(--estilot);
    text-decoration: none;
}

.confirm button {
    width: 80%;
    height: auto;
    padding: 5px;

    border-radius: 5px;
    border-style: none;


    color: white;
    background-color: #00BF66;

    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.boton a {
    color: white;
    text-decoration: none;
}
.boton {
    width: 80%;
    cursor: pointer;

    background-color: var(--color1);
    padding: 3%;

    font-size: 2rem;
    font-family: var(--estilot);
    text-align: center;
    color: var(--CNTexto);

    border: solid var(--color1);
    border-radius: 20px;
    transition: .3s ease-in-out;
}

.boton:hover {
    background-color: var(--color2);
    border: solid var(--color2);
    font-weight: bolder;
    color: var(--CNTexto);
}

.registralink{
    font-size: 1.5rem; 
    font-weight: bolder;
    position: relative;
    text-decoration: none;
}
.registralink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 3px; 
    background-color: white;
    transition: width 0.3s ease-in-out; 
}

.registralink:hover::after {
    width: 100%;
}