body {
    background-color: #cdffcc;
} 
main {
    height: auto;
    background-color: transparent;
}
#foro-publicacion {
    width: 90%;
    height: auto;
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    align-items: start;
    justify-items: end;
}
.foros {
    width: 120%;
    height: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    grid-row-start: 1;
    grid-row-end: 6;
}
.categorias {
    display: flex;
    flex-direction: column;
}
.categorias .foro:nth-child(even) {
    background-color: var(--color2);
    transition:  0.3s ease-in-out;  
}
.categorias .foro:nth-child(even):hover {
    background-color: var(--color4); 
}
.categorias .foro:nth-child(odd) {
    background-color: var(--color3); 
    transition:  0.3s ease-in-out; 
}
.categorias .foro:nth-child(odd):hover {
    background-color: var(--color10); 
}
.tema{
    margin: 0 auto;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    justify-items: center;
    align-items: center;
}
.foro{
    width: 100%;
    height: auto;
    padding: 2%;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
}
.foro h3, .nomensajes{
    font-size: 1.5rem;
    font-family: var(--estilot);
    text-align: left;
    margin-left: 3%;
}
.nomensajes{
    grid-column: 2/4;
    font-size: 1rem;
}
.usuario{
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-column: 4/6;
    font-family: var(--estilot);
}

.usuario img{
    width: 20%;
}


.oculto {display: none;}


.temaAbierto{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 20px;

    position: relative;

}
.title{
    background-color: #362040;
    border-radius: 15px;
    padding: 3%;
}

.discusion{
    padding: 10% 5%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    align-content: center;
    color: #3f8d68;
}
.user img{
    width: 80%;
}
.user h4{
    font-family: var(--estilot);
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
}


.message{
    width: 70%;
    border-radius: 25px;
    background-color: #22b573;
    padding: 2%;
    box-sizing: border-box;
    font-family: var(--estilot);
    margin-left: 5%;
}
.message p {
    padding: 2% 0%;
}
.fecha, .mensaje{
    width: 100%;
}

.commit{
    width: 90%;
    margin: 0 auto;
    display: flex;
    
}
.commit input{
    width: 80%;
    margin-right: 3.5%;

    padding: 1%;
    border-radius: 20px;

    background-color: #68d8a0;
    border-style: none;
    box-sizing: border-box;
}
.legend{
    font-family: var(--estilot);
    width: 90%;
    margin: 0 auto;
    color: black;
    text-align: center;
    line-height: 200%;
}
.legend p{
    font-size: 1.5rem;
}
.legend p b{
    font-size: 1.5rem;
}



.bookmark{
    width: 10%;
    min-height: 100px;
    position: absolute;
    top: 0;
    right: 5%;
    transition: 0.3s ease;
}
.bookmark:hover{
    min-height: 150px;
}
.titulos {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    background-color: #00be66;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 3% 5%;
    box-sizing: border-box;

}

h2 {
    font-size: 2rem;
    font-family: var(--estiloT);
}

.icon {
    max-width: 8%;
}
#publicar {
    width: 60%;
    text-align: center;
}

.titulosP{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
    background-color: #00be66;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 7.5%;
    box-sizing: border-box;
}

.panelcontrol{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #00733c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    align-content: space-between;
    justify-content: space-between;
    gap: 5%;
}
.cat, .tt,  .publi, .cancel{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 65%;
    color: white;
    justify-content: space-around;
    border-style: none;
}
.tt{
    gap: 83.5%;
}
.msg {
    text-align: left;
    color: white;
}
.linkcuenta{
    font-size: 2rem;
    padding: 0%;
    position: relative;
    color: white;
    font-family: var(--estilot);
    text-decoration: none;
}
.linkcuenta::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 3px; 
    background-color: white;
    transition: width 0.3s ease-in-out; 
}
.linkcuenta:hover::after {
    width: 100%;
}
.linkcuentaB{
    font-size: 1.5rem;
    padding: 0%;
    position: relative;
    color: black;
    font-family: var(--estilot);
    text-decoration: none;
}
.linkcuentaB::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 0;
    height: 3px; 
    background-color: var(--color1);
    transition: width 0.3s ease-in-out; 
}
.linkcuentaB:hover::after {
    width: 100%;
}

.publi{
    cursor: pointer;
    margin: 0 auto;
    margin-top: 2%;
    width: 50%;
    background-color: #00be66 ;
    font-size: 25px;
    padding: 2%;
    border-radius: 20px;
}
.cancel{
    cursor: pointer;
    margin: 0 auto;
    margin-top: 2%;
    width: 50%;
    background-color: #35203f ;
    font-size: 25px;
    padding: 2%;
    border-radius: 20px;
}
label{
    font-size: 25px;
}
textarea{
    width: 160%;
}
.mssg{
    
    width: 100%;
    height: auto;
    padding: 5%;
    background-color: #00733c;
    color: white;
    box-sizing: border-box;
    padding: 30% 5%;
    border-radius: 0px 0px 50px 50px;
}
.mssg p{
    font-size: 1.5rem;
    font-family: var(--estilot);
    padding: 5%;
    line-height: 150%;
}
.mssg p b{
    font-size: 2rem;
    padding: 0%;
    font-family: var(--estilot);
}
.send {
    width: 5%;
    cursor: pointer;
    box-sizing: border-box;
    border-style: none;
    background-color: transparent;
}
.send img{
    width: 100%;
}