/* HEADER */
.encabezado{
    width: 100vw;
    color: var(--color1);
}

/* NAVEGATION BAR */
nav {
    width: 100%;
    background-color: var(--color2);
    color: var(--color1);
    padding: 15px;
}
.nav-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-decoration: none;
}

/* LOGO IN NAVEGATION BAR */
.logo img {
    max-width: 70%;
    height: auto;
}
.AkainkuNav{
    color: var(--color1);
    text-decoration: none;
    font-family: var(--estiloT);
}

/* LINKS IN NAVEGATION BAR */
.nav-links {
    display: flex;
    justify-content: flex-start;
}

.nav-links a {
    font-family: var(--estilot);
    font-size: 1rem;
    color: white;
    text-decoration: none;
    margin-left: 20%; 
    white-space: nowrap; 
}

.link-item{
    color: var(--color1);
    text-decoration: none;
    position: relative;
}
.link-item::after {
    position: absolute;
    content: "";
    background-color: white;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
}
.link-item:hover::after {
    width: 100%;
}  

/* Iniciar Sesion */
.loginav{
    grid-column: 5 / 5;
}
#boton{
    cursor: pointer;
    padding: 4% 10%;
    background-color: var(--color1);
    margin-left: 15%;

    font-family: var(--estilot);
    font-weight: bolder;
    text-align: center;
    color: var(--color2);

    border: solid var(--color2);
    border-radius: 20px;
    transition: .3s ease-in-out;
}
#boton:hover{
    background-color: var(--color2);
    color: var(--color1);
    border: solid var(--color1);
}