/* HEADER */
.encabezado{
    width: 100vw;
}
/* NAVEGATION BAR */
nav {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-bottom: 7px var(--color5) solid;
}
.nav-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-decoration: none;
}
/* LOGO*/
.logo img {
    max-width: 80%;
    height: auto;
}
/* LINK DE FORO || DROPDOWN */
#foros{
    position: relative;
    font-family: var(--estiloT);
    font-size: 1.5rem;
    color: var(--color4);
    transition: 0.3s ease-in-out;
}
#foros:hover{
    color: var(--color1);
}
/* DROPDOWN */
.dropdown-content {
    display: none; 
    position: absolute;

    width: 100%;
    background-color: var(--color5);
    padding: 20px;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    transform: translateY(-20px); 
    opacity: 0; 
    transition: transform 1s ease, opacity 1s ease; 
}

.dropdown-content.show {
    display: block; 
    transform: translateY(0); 
    opacity: 1; 
}


.dropdown-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.dropdown-item {
    color: var(--CNTexto); 
    font-family: var(--estilot);
    font-weight: bold; 
}

.dropdown-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Animación al pasar el cursor */
}
.dropdown-item p {
    margin-top: 10px;
    font-size: 1rem;
}
.dropdown-item:hover img {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}
.show {
    display: block;
}
