.profile-info {
    padding: 5%;
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    background-color: var(--color10);
    border-radius: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label{
    font-family: var(--estilot);
    color: white;
    margin-bottom: 2%;
}

.WInput {
    position: relative;
    display: flex;
    align-items: center;
}

.input {
    padding: 10px;
    padding-left: 60px;
    border: 1px solid #ccc;
    border-radius: 100px;
    width: 100%;
    height: 35px;
    cursor:default;
}
input:focus, input:active {
    outline: none;  
    box-shadow: none; 
    border: none;
    border: 1px solid #ccc;
}
.input-icon {
    fill: #191919;
    position: absolute;
    width: 7%;
    transform: translateY(2%);
    left: 3%;
}
.cls-1 {
    fill: #191919;
}
.edit{
    color: #191919;
    position: absolute;
    width: 7%;
    transform: translateY(2%);
    right: 3%;
    cursor: pointer;
}
.edit:hover{
    animation: wiggle .8s ease-in-out;
    fill: var(--color1); 
}
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(35deg);
    }
    50% {
        transform: rotate(-35deg);
    }
    75% {
        transform: rotate(35deg);
    }
}
.button-group {
    grid-column: 2;
    display: flex;
    justify-content: center;
    width: 100%;
}

.save-button {
    padding: 4%;
    width: 50%;
    background-color: var(--color1);
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-family: var(--estilot);
    font-size: 1.2rem;
    margin-top: 6%;
    transition: .3s ease-in-out;
}
.save-button:hover {
    background-color: var(--color2);
    font-weight: bolder;
    width: 60%;
}
